p{
	color: rgb(216, 15, 48);
	font-size: 1.2em;
	font-family: 'Courier New', Courier, monospace;
}
h1{
	font-family: sans-serif;
	text-align: center;
	background-color: #90e7f7;
}
h2{ 
	font-family: arial;
	color: #f17909;
	text-align: center;
	background-color: #460388;
}
small{
	color: rgb(0, 255, 170);
	font-size: 0.5em;
	text-align: center;
	font-family: 'Courier New', Courier, monospace;
}
